
/* FONTS */
.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
  }  

.roboto_thin300 {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: italic;
  font-variation-settings:
    "wdth" 100;
}

:root {
    --primary-color: rgb(128, 188, 220);
    --secondary-color: rgb(213, 156, 91);
}







@media (max-width: 400px) {


    header {
        background-color: var(--primary-color);
        border: solid black;
        padding: 10px;
    }

    #menu {
        font-size: 1.5rem;
        border: 0;
        background: none;
        color: #000;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    #menu::before {
        content: "☰";
    }

    #menu.open::before {
        content: "❌";
    }

    .navigation {
        display: flex;
	    flex-direction: column;
	    justify-content: space-around;
        list-style-type: none;
        
    }

    .navigation.open {
        display: flex;  /* Show the menu when open */
    }

    .navigation a {
        display: none;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        color: black;
    }

    .navigation.open a {
        display: block;  /* Show links when menu is open */
        background-color: var(--secondary-color);
    }

    .navigation a:hover {
        background-color: var(--secondary-color);
        color: black;
        font-weight: 700;
    }

    /* when the button is clicked - the open class is toggled (added/removed) */
    .open a {
        display: block;
    }

    nav ul{
        list-style-type: none;
        padding: 0;
    }







    

    main {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    section {
        grid-row: 1/3
    }

    aside {
        grid-row: 4/5
    }

    aside p a {
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        color: black;
    }

    aside p a:hover {
        background-color: var(--secondary-color);
        text-decoration: none;
        color: black;
        font-weight: 700;
        text-align: center;
    }

    div {
        grid-row: 3/4;
        background-color: var(--secondary-color);
    }

    figure img {
        align-items: center;
        width: 200px;
        height: auto;
        padding: 5px 5px 5px 50px;
    }
    

    footer {
        text-align: center;
        background-color: var(--primary-color);
        padding: 15px;
    }
  
  
  }



